doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		//place your Google Maps API key here:
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfh_GTuZk_GKM0YwY-RQ7OBs6sAMcBGUg", defer)
		script(src="js/main.js", defer)
		script(src="js/see-all.js", defer)

		//page title
		title
			| Coleman Builders
	body
		main.page_wrapper
			// ____________________________
			// == START OF COVER COMPONENTS ==
			include components/covers/08-custom
			include components/about/07-custom
			// == END OF COVER COMPONENTS ==
			.works.works--03#portfolio
				.container
					.works__title_box
						.works__title
							| Portfolio
				.houses
					include components/custom/gallery/02.jade
					include components/custom/gallery/01.jade
					include components/custom/gallery/03.jade
					include components/custom/gallery/04.jade
					include components/custom/gallery/05.jade
					include components/custom/gallery/06.jade
					include components/custom/gallery/07.jade
					include components/custom/gallery/08.jade
					include components/custom/gallery/09.jade
					include components/custom/gallery/10.jade
					include components/custom/gallery/11.jade
					include components/custom/gallery/12.jade
				.see-more
					span
						| ^ View All ^
			include components/testimonials/03-custom
			include components/team/02-custom
			include components/about/07-custom-2
			include components/footers/02-custom

	.js-overlay.js-close-navigation.js-close-menu.overlay