doctype html
html
	head
		//the must have tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//the must have assets
		link(rel="stylesheet", href="css/main.css")
		//place your Google Maps API key here:
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfh_GTuZk_GKM0YwY-RQ7OBs6sAMcBGUg", defer)
		script(src="js/main.js", defer)

		//page title
		title
			| Phoenix Bootstrap UI kit
	body
		main.page_wrapper.page_wrapper--presentation-navbar
			// == START OF PRESENTATION NAVBAR ==
			//this component is used for easier navigation and is not a part of the Phoenix tool. Yet, you still are free to use it in your projects if you want.
			include components/presentations_components/navigation_bar
			// == END OF PRESENTATION NAVBAR ==
			// ____________________________
			// == START OF COVER COMPONENTS ==
			include components/covers/08
			// == END OF COVER COMPONENTS ==
	.js-overlay.js-close-navigation.js-close-menu.overlay