// == START OF ABOUT 07 ==
.about.about--07.contact#contact
	.container
		h2.about__title.about__title--07
			| Contact Us
		.about__container--07(style="background-image: url(images/10/pic11.jpg); max-width: 1000px;")
			.about__content--07
				.about__content__bottom_row--07
					.about__feature--07
						span.about__main_info--07
							<strong>Coleman Builders</strong>
							br
							| Allen T. Coleman
							br
							br
							<strong>Address</strong>
							br
							| PO Box 462
							br
							| Mount Pleasant, SC
							br
							| 29465
							br
							br
							<strong>Email</strong>
							br
							<a href="mailto:altcoleman@msn.com ">altcoleman@msn.com </a>
							br
							br
							<strong>Phone &amp; Fax</strong>
							br
							| (843) 881-3305 (office)
							br
							| (843) 352-4367 (fax)
// == END OF ABOUT 07 ==