// == START OF ABOUT 07 ==
.about.about--07#about
	.container
		h2.about__title.about__title--07
			| About
		.about__container--07(style="background-image: url(images/ColemanFamily.jpg); max-width: 1000px;")
			.about__content--07
				.about__content__top_row--07
					span.about__main_info--07
						| Coleman Builders is a premier construction company located in the Lowcountry. The foundation of the company is built on quality craftsmanship, enduring value, and customer service. Each home we build displays a unique design quality that is a direct result of our attention to detail and architectural vernacular.
						br
						br
						| Headquartered in Mount Pleasant, Coleman Builders is owned by Allen Coleman. He is a civil engineering graduate of Clemson University, with an extensive background in residential construction.
				.about__content__bottom_row--07
					.about__feature--07
						span.about__main_info--07
							| Through experience and education, we design and build speculative homes with warmth and character, and we build custom homes for our specific clientele's needs and desires.
					.about__feature--07
						span.about__main_info--07
							| We strive to maximize the value of each home by carefully considering design and detail. Quality over quantity and trusting relationships has earned Coleman Builders the reputation it now enjoys.
// == END OF ABOUT 07 ==