// == START OF COVER 08 ==
.hero.cover.cover--08.js-cover(style="background-image: url(images/hero.jpg)" id="home")
	include ../headers/06-custom
	.container.cover__container--02
		.cover__text_box--02
			h2.cover__title--02
				span.cover__title_text--02.text--white
					| Coleman Builders
			.cover__description_box--02
				span.cover__description_text--02.text--white.fw-100
					| With careful attention to detail, quality craftsmanship, and past experiences, we deliver homes that are built to ensure enduring value for each customer.
					br
					br
					| By creating a trusting relationship and a memorable building experience, we work to keep clients for a lifetime.
// == END OF COVER 08 ==