// == START OF COVER 08 ==
.cover.cover--08.js-cover(style="background-image: url(img/bg/bg--blue-mountains.jpg)")
	include ../headers/06
	.container
		.cover__content_box.cover__content_box--08
			h2.cover__title.cover__title--08
				span.cover__title_text.cover__title_text--08
					| Coleman Builders
			.cover__description_box--08
				span.cover__description_text--08
					| Our mission is to create homes of timeless beauty reflective of the legacy and tradition of the Lowcountry. <br><br>With careful attention to detail, quality craftsmanship, and past experiences, we deliver homes that are built to ensure enduring value for each customer. <br><br> By creating a trusting relationship and a memorable building experience, we work to keep clients for a lifetime.
// == END OF COVER 08 ==