// == START OF TEAM 02 ==
.team.team--02#team
	h2.team__title
		| Our team
	.team__box.team__box--02
		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| John Doe
			span.team__item_job.team__item_job--02
				| Designer
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget.

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| Jane Doe
			span.team__item_job.team__item_job--02
				| Architect
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec vestibulum.

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| John Doe
			span.team__item_job.team__item_job--02
				| Designer
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec .

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| Jane Doe
			span.team__item_job.team__item_job--02
				| Architect
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec vestibulum.


		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| John Doe
			span.team__item_job.team__item_job--02
				| Designer
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec .

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| Jane Doe
			span.team__item_job.team__item_job--02
				| Architect
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec vestibulum.

		.team__item.team__item--02
			.team__item_photo(style="background-image:url(img/bg/bg--mountains-white.jpg)")
			span.team__item_name
				| John Doe
			span.team__item_job.team__item_job--02
				| Designer
			span.team__item_text.team__item_text--02
				| Lorem ipsum dolor sit amet, suspendisse lectus ac eget, donec .
// == END OF TEAM 02 ==