// == START OF HOUSE 01 ==
.row.gallery-custom
    .col
        img(style="background-image: url(images/houses/pic1.jpg)")
    .col
        .row
            .col
                img(style="background-image: url(images/houses/pic1.jpg)")
            .col
                img(style="background-image: url(images/houses/pic1.jpg)")
// == END OF HOUSE 01 ==