.hero {
    position: relative;
    &:after {
        content: "";
        dipslay:block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
    .container {
        z-index: 5;
    }
    .cover__text_box--02 {
        right: 15px;
        left: auto;
        text-align: right;
        .cover__description_box--02 {
            float: right;
        }
    }
}

.gallery-custom {
    .img {
        background-size: cover;
        background-position: center center;
        &:after {
            content: "";
            display: block;
            padding-top: 75%;
        }
    }
}

.desktop-only {
    @media screen and (max-width: 720px) {
        display: none;
    }
}

.works {
    position: relative;
    max-height: 1000px;
    overflow: hidden;
    @media screen and (max-width: 720px) {
        max-height: 500px;
        &.height-auto {
            max-height: initial;
        }
    }
    &.height-auto {
        max-height: initial;
        .see-more:before {
            display: none;
        }
    }
    .see-more {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        bottom: 0;
        z-index: 20;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            height: 240px;
            background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
            pointer-events: none;
        }
        span {
            display: block;
            text-align: center;
            padding: 12px 8px 20px;
            background: white;
        }
    }
}

.works.gallery-custom {
    padding: 0;
    .img {
        width: 100%;
        height: auto;
    }
    .thumbnails {
    }
    p.small {
        padding: 5px 30px;
        font-size: 10px;
        text-transform: lowercase;
    }
}

.position-relative {
    position: relative;
}

.slick-track{
    display: flex;

    .slick-slide{
        display: flex;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional
    }
}